<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coflee-Contactus</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Emilys+Candy&family=Hurricane&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radley:ital@0;1&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section class="px-[80px] py-[40px]">
        <div class=" flex justify-between items-center">
            <div>
                <a href="#"><img class="w-[120px]" src="/assets/images/coflee-logo.png" alt=""></a>
            </div>
            <div class="flex  gap-[60px]">
                <a href="index.html">
                    <h3 class="hover:text-[#006954]">Home</h3>
                </a>
                <a href="aboutus.html">
                    <h3 class="hover:text-[#006954]">About us</h3>
                </a>
                <a href="shop.html">
                    <h3 class="hover:text-[#006954]">Shop</h3>
                </a>
                <a href="contactus.html">
                    <h3 class="hover:text-[#006954]">Contact us</h3>
                </a>
            </div>
        </div>

        <div class="flex justify-center py-[60px]">
            <h4 class="text-[#006954] text-[44px] font-[600]">Contact us</h4>

        </div>
        <div class="flex justify-center">
            <div class="p-[60px] rounded-[20px] w-[80%] bg-gradient-to-b from-[#FFFFFFB0] to-[#E8FF65B0]">
                <div class="flex justify-between">
                    <div class="w-[50%]">
                        <form class="flex gap-2 flex-col">
                            <label class="text-[20px]" for="name">Name</label>
                            <input
                                class="bg-[#f3f4f6] rounded-[10px] border-[2px] border-gray-200 w-[90%] px-[25px] py-[10px]"
                                type="text" id="name" name="name" required><br><br>
                        </form>
                    </div>
                    <div class="w-[50%]">
                        <form class="flex gap-2 flex-col">
                            <label class="text-[20px]" for="email">Email</label>
                            <input
                                class="bg-[#f3f4f6] rounded-[10px] border-[2px] border-gray-200 w-[90%] px-[25px] py-[10px]"
                                type="text" id="name" name="name" required><br><br>
                        </form>
                    </div>
                </div>
                <div class="flex justify-between">
                    <div class="w-[50%]">
                        <form class="flex gap-2 flex-col">
                            <label class="text-[20px]" for="phone">Phone</label>
                            <input
                                class="bg-[#f3f4f6] rounded-[10px] border-[2px] border-gray-200 w-[90%] px-[25px] py-[10px]"
                                type="text" id="name" name="name" required><br><br>
                        </form>
                    </div>
                    <div class="w-[50%]">
                        <form class="flex gap-2 flex-col">
                            <label class="text-[20px]" for="Subject">Subject</label>
                            <input
                                class="bg-[#f3f4f6] rounded-[10px] border-[2px] border-gray-200 w-[90%] px-[25px] py-[10px]"
                                type="text" id="name" name="name" required><br><br>
                        </form>
                    </div>
                </div>
                <div>
                    <form class="flex gap-2 flex-col">
                        <label class="text-[20px]" for="message">Message</label>
                        <input
                            class="bg-[#f3f4f6] h-[160px] rounded-[10px] border-[2px] border-gray-200 w-[100%] px-[25px] py-[10px]"
                            type="text" id="name" name="name" required><br><br>
                    </form>
                </div>
                <div>
                    <a href="#"><button class="bg-[#006954] rounded-[20px] text-[white] py-[14px] px-[33px]">
                            Submit
                        </button></a>
                </div>

            </div>
        </div>

    </section>

    <section class="px-[80px] py-[40px]"> 
        <div class="flex justify-center text-center ">
            <h2 class="w-[666px] text-[19px]" >Alternatively, you can reach us directly via <span class="font-[700]">email or by phone</span>. Our dedicated team
                of experts is ready to provide you with the support and guidance you need on your
                <span class="font-[700]">path to better health.</span></h2>
        </div>

        <div class="flex h-[350px] py-[80px]">
            <div class=" w-[33%] flex flex-col gap-2 items-center text-center justify-center">
                <img class="w-[60px]" src="/assets/images/location.png" alt="">
                <h4 class="text-[22px] font-[600]">Address</h4>
                <h2 class="text-[15px] text-[#686D4F]">123 Main Street, Cityville, State</h2>
            
            </div>
            <div class=" w-[33%] flex flex-col gap-2 items-center text-center justify-center">
                <img class="w-[60px]" src="/assets/images/email.png" alt="">
                <h4 class="text-[22px] font-[600]">Email address</h4>
                <h2 class="text-[15px] text-[#686D4F]">hello@example.com</h2>
            
            </div>
            <div class=" w-[33%] flex flex-col gap-2 items-center text-center justify-center">
                <img class="w-[60px]" src="/assets/images/location.png" alt="">
                <h4 class="text-[22px] font-[600]">Phone number</h4>
                <h2 class="text-[15px] text-[#686D4F]">+1 (123) 456-7890</h2>
            
            </div>

        </div>

    </section>

    <footer class="px-[80px] pt-[60px] bg-gradient-to-b from-[#FFFFFFB0] via-[#EDFF817B] to-[#E8FF65B0]">
        <div class="flex justify-between">
            <div class="w-[50%]">
                <a href="#"><img class="w-[170px]" src="/assets/images/Group 2.png" alt=""></a>
                <h3 class="w-[73%] py-[23px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
                    facilis quas est
                    labore </h3>
                <div class="flex gap-[10px]">
                    <a href="#"><div class="w-[40px] h-[40px] bg-[#272E03] rounded-[10px] flex justify-center items-center"> <i
                            class="fa-brands fa-facebook-f text-[23px]" style="color: #ffffff;"></i></div></a>
                    <a href="#"><div class="w-[40px] h-[40px] bg-[#272E03] rounded-[10px] flex justify-center items-center"> <i
                            class="fa-brands fa-instagram text-[23px]" style="color: #ffffff;"></i></div></a>
                    <a href="#"><div class="w-[40px] h-[40px] bg-[#272E03] rounded-[10px] flex justify-center items-center"> <i
                            class="fa-brands fa-x-twitter text-[23px]" style="color: #ffffff;"></i></div></a>
                    <a href="#"><div class="w-[40px] h-[40px] bg-[#272E03] rounded-[10px] flex justify-center items-center"> <i
                            class="fa-brands fa-linkedin text-[23px]" style="color: #ffffff;"></i></div></a>
                    <a href="#"><div class="w-[40px] h-[40px] bg-[#272E03] rounded-[10px] flex justify-center items-center"> <i
                            class="fa-brands fa-youtube text-[23px]" style="color: #ffffff;"></i></div></a>
                </div>
            </div>

            <div class="w-[25%]">
                <h4 class="text-[22px] text-[#272E03] font-[600]">Quick Links</h4>
                <div class="flex flex-col gap-[14px] mt-[12px]">
                    <a href="index.html">
                        <h4 class="text-[20px]">Home</h4>
                    </a>
                    <a href="aboutus.html">
                        <h4 class="text-[20px]">About us</h4>
                    </a>
                    <a href="shop.html">
                        <h4 class="text-[20px]">Shop</h4>
                    </a>
                    <a href="contactus.html">
                        <h4 class="text-[20px]">Contact us</h4>
                    </a>
                </div>
            </div>

            <div class="w-[25%]">
                <h4 class="text-[22px] text-[#272E03] font-[600]">Contact</h4>
                <div class="flex flex-col gap-[14px] mt-[12px]">
                    <a href="#">
                        <h4 class="text-[20px]">+1 (123) 456-7890</h4>
                    </a>
                    <a href="#">
                        <h4 class="text-[20px]">hello@example.com</h4>
                    </a>
                    <a href="#"><h4 class="text-[20px]">123 Main Street,Cityville, State</h4></a>

                </div>
            </div>
        </div>

        <div class=" flex justify-center pt-[60px] pb-[30px]">
            <h4 class="text-[15px] font-[600]">@2024 All Rights are Reserved. coflee.in | Made by SwaroopNevse Developed
                By Sharp Multimedia</h4>
        </div>
    </footer>

</body>

</html>