<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coflee-Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Emilys+Candy&family=Hurricane&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radley:ital@0;1&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section class="flex flex-col items-center justify-center">
        <div class="w-[90%] py-[30px] flex justify-between items-center">
            <div>
                <a href="#"><img class="w-[120px]" src="/assets/images/coflee-logo.png" alt=""></a>
            </div>
            <div class="flex  gap-[60px]">
                <a href="index.html">
                    <h3 class="hover:text-[#006954]">Home</h3>
                </a>
                <a href="aboutus.html">
                    <h3 class="hover:text-[#006954]">About us</h3>
                </a>
                <a href="shop.html">
                    <h3 class="hover:text-[#006954]">Shop</h3>
                </a>
                <a href="contactus.html">
                    <h3 class="hover:text-[#006954]">Contact us</h3>
                </a>
            </div>
        </div>
        <section
            class="relative w-[90%] h-[670px]   bg-gradient-to-b from-[#FFFFFF00] to-[#E8FF65B0] py-16 px-[50px] text-center">
            <!-- Content Section -->

            <div class="relative z-10">
                <h1 class="text-[78px] text-[#272E03] leading-[85px] font-bold">
                    Your pathway to <br><span class="text-[#006954]">wellness</span> begins here
                </h1>
                <div class="flex justify-center">
                    <p class="mt-4 w-[485px] text-center flex justify-center text-[19px] text-gray-600">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio facilis quas est labore
                        expedita
                        voluptas blanditiis laudantium illum tenetur fuga?
                    </p>
                </div>
                <a href="#"><button class="mt-6 px-6 py-2 bg-[#006954] text-white rounded-lg hover:bg-green-700">
                        Shop Now
                    </button></a>
            </div>

            <!-- Background Images -->
            <div class="absolute inset-0 overflow-hidden">
                <!-- Left Bottle -->
                <img src="/assets/images/syrup1.png" alt="Left Bottle"
                    class="absolute left-[66px] bottom-[-21px] w-[543px] h-[446px] object-cover transform -rotate-12" />
                <!-- Center Bottle -->
                <img src="/assets/images/syrup2.png" alt="Center Bottle"
                    class="absolute w-[718px]  bottom-0 left-[51%] transform -translate-x-1/2 h-[413px]" />
                <!-- Right Bottle -->
                <img src="/assets/images/syrup3.png" alt="Right Bottle"
                    class="absolute right-0 bottom-[-4px] h-[30rem] transform rotate-[-1deg]" />
            </div>

        </section>
    </section>

    <section class="px-[80px] py-[60px]">
        <h1 class="text-[40px] pt-[30px] font-[600]">Best <span class="text-[#10725E]">Seller</span></h1>

        <div class="flex justify-between pt-[50px]">
            <div class="w-[20%] flex flex-col justify-center">
                <img class="w-[270px]" src="/assets/images/syrupbottle.png" alt="">
                <h4 class="text-[#686D4F] text-[25px] py-[19px]">Optigut probiotic blend <br>
                    tablets</h4>
                <div class="flex justify-between items-center">
                    <h4 class="text-[#006954] font-[600]">200 Rs.</h4>
                    <a href="#">
                        <h4 class="text-[#686D4F] text-[16px] underline decoration-1">View Details</h4>
                    </a>
                </div>

            </div>

            <div class="w-[20%] flex flex-col justify-center items-center">
                <div class="relative">
                    <img class="w-[270px] bg-gradient-to-b from-[#F4FFB5B0] to-[#E8FF65B0] py-[10px]"
                        src="/assets/images/syrupbottle.png" alt="">
                    <a href="#"><button
                            class="bg-[#006954AD] absolute bottom-[23px] left-[36px] rounded-[30px] backdrop-blur-[8px] text-[white] py-[16px] w-[200px]">
                            Enquiry Now
                        </button></a>
                </div>
                <h4 class="text-[#686D4F] text-[25px] py-[19px]">Optigut probiotic blend <br>
                    tablets</h4>
                <div class="w-full flex justify-between items-center">
                    <h4 class="text-[#006954] font-[600]">200 Rs.</h4>
                    <a href="#">
                        <h4 class="text-[#686D4F] text-[16px] underline decoration-1">View Details</h4>
                    </a>
                </div>

            </div>

            <div class="w-[20%] flex flex-col justify-center">
                <img class="w-[270px]" src="/assets/images/syrupbottle.png" alt="">
                <h4 class="text-[#686D4F] text-[25px] py-[19px]">Optigut probiotic blend <br>
                    tablets</h4>
                <div class="flex justify-between items-center">
                    <h4 class="text-[#006954] font-[600]">200 Rs.</h4>
                    <a href="#">
                        <h4 class="text-[#686D4F] text-[16px] underline decoration-1">View Details</h4>
                    </a>
                </div>

            </div>

            <div class="w-[20%] flex flex-col justify-center">
                <img class="w-[270px]" src="/assets/images/syrupbottle.png" alt="">
                <h4 class="text-[#686D4F] text-[25px] py-[19px]">Optigut probiotic blend <br>
                    tablets</h4>
                <div class="flex justify-between items-center">
                    <h4 class="text-[#006954] font-[600]">200 Rs.</h4>
                    <a href="#">
                        <h4 class="text-[#686D4F] text-[16px] underline decoration-1">View Details</h4>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section class="px-[80px] py-[60px]">
        <div
            class="bg-[url(/assets/images/backwallpaper.jpeg)] relative bg-cover  w-full h-[670px] bg-slate-200 bg-opacity-[80%] rounded-[20px]">
            <div
                class="absolute flex flex-col justify-center pl-[90px] inset-0 text-white bg-black bg-opacity-20 rounded-[20px]">

                <div>
                    <h4 class="text-[48px] font-[600]">About Coflee</h4>
                    <h2 class="font-[300] text-[19px] w-[431px] py-[20px]">Achieve radiant and healthy skin with Healup
                        GlowRadiance Serum, a luxurious blend of potent
                        antioxidants.</h2>
                    <a href="#">
                        <button
                            class="flex items-center rounded-[20px] bg-[#FFFFFF] text-[#267E26] py-[15px] px-[25px] gap-2">
                            <h2>Read more</h2>
                            <img src="/assets/images/Right arrow.png" alt="">
                        </button></a>
                </div>

            </div>
        </div>

    </section>

    <section class="px-[80px] py-[60px]">

        <div class="relative w-full h-screen flex flex-wrap">
            <!-- Top-Left -->
            <div class="w-1/2 h-1/2 flex items-center justify-center">
                <div>
                    <div class="flex items-center">
                        <div class="w-[80px] h-[80px] bg-[#E8FF65B0] rounded-[20px] mr-4"></div>
                        <h4 class="text-[24px] font-bold text-[#006954]">Lorem ipsum dolor sit <br>amet consectetur</h4>
                    </div>
                    <div>

                        <h3 class="text-gray-500 text-[20px] w-[475px] mt-[20px]">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio facilis quas est labore
                            expedita voluptas blanditiis laudantium illum tenetur fuga?
                        </h3>
                    </div>
                </div>
            </div>

            <!-- Top-Right -->
            <div class="w-1/2 h-1/2 flex items-center justify-center p-8">
                <div>
                    <div class="flex items-center">
                        <div class="w-[80px] h-[80px] bg-[#E8FF65B0] rounded-[20px] mr-4"></div>
                        <h4 class="text-[24px] font-bold text-[#006954]">Lorem ipsum dolor sit <br>amet consectetur</h4>
                    </div>
                    <div>

                        <h3 class="text-gray-500 text-[20px] w-[475px] mt-[20px]">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio facilis quas est labore
                            expedita voluptas blanditiis laudantium illum tenetur fuga?
                        </h3>
                    </div>
                </div>
            </div>

            <!-- Bottom-Left -->
            <div class="w-1/2 h-1/2 flex items-center justify-center p-8">
                <div>
                    <div class="flex items-center">
                        <div class="w-[80px] h-[80px] bg-[#E8FF65B0] rounded-[20px] mr-4"></div>
                        <h4 class="text-[24px] font-bold text-[#006954]">Lorem ipsum dolor sit <br>amet consectetur</h4>
                    </div>
                    <div>

                        <h3 class="text-gray-500 text-[20px] w-[475px] mt-[20px]">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio facilis quas est labore
                            expedita voluptas blanditiis laudantium illum tenetur fuga?
                        </h3>
                    </div>
                </div>
            </div>

            <!-- Bottom-Right -->
            <div class="w-1/2 h-1/2 flex items-center justify-center p-8">
                <div>
                    <div class="flex items-center">
                        <div class="w-[80px] h-[80px] bg-[#E8FF65B0] rounded-[20px] mr-4"></div>
                        <h4 class="text-[24px] font-bold text-[#006954]">Lorem ipsum dolor sit <br>amet consectetur</h4>
                    </div>
                    <div>

                        <h3 class="text-gray-500 text-[20px] w-[475px] mt-[20px]">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio facilis quas est labore
                            expedita voluptas blanditiis laudantium illum tenetur fuga?
                        </h3>
                    </div>
                </div>
            </div>

            <!-- Center Divider Lines -->
            <div class="absolute top-0 left-1/2 w-[3px] h-full bg-gradient-to-b from-[#FFFFFF] via-[#006954] to-[#FFFFFF]""></div>
            <div class=" absolute top-1/2 left-0 w-full h-[3px] bg-gradient-to-r from-[#FFFFFF] via-[#006954]
                to-[#FFFFFF]"></div>
        </div>


    </section>

    <section class="px-[80px] py-[60px]">
        <div class="flex justify-between">
            <div class="w-[50%]">

                <h4 class="font-[600] text-[42px]">Branches & <span class="text-[#006954]">Location</span></h4>
                <h3 class="font-[400] text-[20px] text-[#494444] py-[20px]">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Distinctio facilis quas est labore expedita voluptas blanditiis laudantium illum
                    tenetur fuga?</h3>

                <div>
                    <div class="w-[450px] py-[18px] px-[20px] rounded-[20px] hover:bg-[#EDFF82B0]">
                        <a href="#">
                            <h4 class="font-[500] text-[24px] hover:text-[green]">Pune</h4>
                        </a>
                    </div>
                    <div class="w-[450px] py-[18px] px-[20px] rounded-[20px] hover:bg-[#EDFF82B0]">
                        <a href="#">
                            <h4 class="font-[500] text-[24px] hover:text-[green]">Mumbai</h4>
                        </a>
                    </div>
                    <div class="w-[450px] py-[18px] px-[20px] rounded-[20px] hover:bg-[#EDFF82B0]">
                        <a href="#">
                            <h4 class="font-[500] text-[24px] hover:text-[green]">Nashik</h4>
                        </a>
                    </div>
                    <div class="w-[450px] py-[18px] px-[20px] rounded-[20px] hover:bg-[#EDFF82B0]">
                        <a href="#">
                            <h4 class="font-[500] text-[24px] hover:text-[green]">Ahmadnagar</h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="w-[50%] flex justify-center">
                <iframe class="rounded-[20px]"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7567.182180528541!2d73.85862513775903!3d18.50217238035089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c014271918c5%3A0xfa3ce63f0c494d3f!2sSwargate%2C%20Pune%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1734170135876!5m2!1sen!2sin"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>

    </section>

    <section class="px-[80px] py-[60px]">
        <div class="flex justify-center">
            <h4 class="font-[600] text-[42px]">Customer <span class="text-[#006954]">reviews</span></h4>
        </div>

        <div class="flex flex-col justify-center items-center text-center">
            <img class="w-[100px] py-[30px]" src="/assets/images/star.png" alt="">
            <h4 class="text-[27px] text-[#272E03] font-[600]">Using Healup products has been life-changing. From
                boosting my <br>
                immunity to clearing up my skin, their products deliver real results. <br>
                Highly recommend!</h4>
            <h4 class="text-[20px] text-[#006954] font-[500] mt-[50px]">Amanda Reed</h4>
            <h2 class="text-[#686D4F]">Manager</h2>
        </div>

    </section>


    <footer class="px-[80px] pt-[60px] bg-gradient-to-b from-[#FFFFFFB0] via-[#EDFF817B] to-[#E8FF65B0]">
        <div class="flex justify-between">
            <div class="w-[50%]">
                <a href="#"><img class="w-[170px]" src="/assets/images/Group 2.png" alt=""></a>
                <h3 class="w-[73%] py-[23px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
                    facilis quas est
                    labore </h3>
                <div class="flex gap-[10px]">
                    <a href="#">
                        <div class="w-[40px] h-[40px] bg-[#272E03] rounded-[10px] flex justify-center items-center"> <i
                                class="fa-brands fa-facebook-f text-[23px]" style="color: #ffffff;"></i></div>
                    </a>
                    <a href="#">
                        <div class="w-[40px] h-[40px] bg-[#272E03] rounded-[10px] flex justify-center items-center"> <i
                                class="fa-brands fa-instagram text-[23px]" style="color: #ffffff;"></i></div>
                    </a>
                    <a href="#">
                        <div class="w-[40px] h-[40px] bg-[#272E03] rounded-[10px] flex justify-center items-center"> <i
                                class="fa-brands fa-x-twitter text-[23px]" style="color: #ffffff;"></i></div>
                    </a>
                    <a href="#">
                        <div class="w-[40px] h-[40px] bg-[#272E03] rounded-[10px] flex justify-center items-center"> <i
                                class="fa-brands fa-linkedin text-[23px]" style="color: #ffffff;"></i></div>
                    </a>
                    <a href="#">
                        <div class="w-[40px] h-[40px] bg-[#272E03] rounded-[10px] flex justify-center items-center"> <i
                                class="fa-brands fa-youtube text-[23px]" style="color: #ffffff;"></i></div>
                    </a>
                </div>
            </div>

            <div class="w-[25%]">
                <h4 class="text-[22px] text-[#272E03] font-[600]">Quick Links</h4>
                <div class="flex flex-col gap-[14px] mt-[12px]">
                    <a href="index.html">
                        <h4 class="text-[20px]">Home</h4>
                    </a>
                    <a href="aboutus.html">
                        <h4 class="text-[20px]">About us</h4>
                    </a>
                    <a href="shop.html">
                        <h4 class="text-[20px]">Shop</h4>
                    </a>
                    <a href="contactus.html">
                        <h4 class="text-[20px]">Contact us</h4>
                    </a>
                </div>
            </div>

            <div class="w-[25%]">
                <h4 class="text-[22px] text-[#272E03] font-[600]">Contact</h4>
                <div class="flex flex-col gap-[14px] mt-[12px]">
                    <a href="#">
                        <h4 class="text-[20px]">+1 (123) 456-7890</h4>
                    </a>
                    <a href="#">
                        <h4 class="text-[20px]">hello@example.com</h4>
                    </a>
                    <a href="#">
                        <h4 class="text-[20px]">123 Main Street,
                            Cityville, State</h4>
                    </a>

                </div>
            </div>
        </div>

        <div class=" flex justify-center pt-[40px] pb-[20px]">
            <h4 class="text-[15px] font-[600]">@2024 All Rights are Reserved. coflee.in | Made by SwaroopNevse Developed
                By Sharp Multimedia</h4>
        </div>
    </footer>
</body>

</html>