<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coflee-shop</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Emilys+Candy&family=Hurricane&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radley:ital@0;1&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section class="px-[80px] py-[40px]">
        <div class=" flex justify-between items-center">
            <div>
                <a href="#"><img class="w-[120px]" src="/assets/images/coflee-logo.png" alt=""></a>
            </div>
            <div class="flex  gap-[60px]">
                <a href="index.html">
                    <h3 class="hover:text-[#006954]">Home</h3>
                </a>
                <a href="aboutus.html">
                    <h3 class="hover:text-[#006954]">About us</h3>
                </a>
                <a href="shop.html">
                    <h3 class="hover:text-[#006954]">Shop</h3>
                </a>
                <a href="contactus.html">
                    <h3 class="hover:text-[#006954]">Contact us</h3>
                </a>
            </div>
        </div>

        <div
            class="w-full h-[180px] flex justify-center my-[30px] items-center bg-gradient-to-b from-[#FFFFFF00] to-[#E8FF65B0]">
            <h4 class="text-[45px] font-[600] text-[#006954]">Shop</h4>
        </div>

    </section>

    <section class="px-[80px] py-[40px]">

        <div class=" flex justify-between">
            <h4 class="text-[#006954] text-[36px] font-[600]">Products</h4>
            <input class="bg-slate-200 px-[20px] rounded-[12px] placeholder-[#006954]" type="text"
                placeholder="search Products">

        </div>

        <div class="flex justify-between py-[40px]">

            <div class="flex flex-col gap-[20px] w-[20%]">
                <a href="#"><button
                        class="py-[15px] text-[20px] rounded-[14px] bg-[#15803d] text-[white] px-[60px] hover:bg-[#006954]">
                        <h4>Category 1</h4>
                    </button></a>

                <a href="#"><button
                        class="py-[15px] text-[20px] rounded-[14px] bg-[#15803d] text-[white] px-[60px] hover:bg-[#006954]">
                        <h4>Category 2</h4>
                    </button></a>

                <a href="#"><button
                        class="py-[15px] text-[20px] rounded-[14px] bg-[#15803d] text-[white] px-[60px] hover:bg-[#006954]">
                        <h4>Category 3</h4>
                    </button></a>

                <a href="#"><button
                        class="py-[15px] text-[20px] rounded-[14px] bg-[#15803d] text-[white] px-[60px] hover:bg-[#006954]">
                        <h4>Category 4</h4>
                    </button></a>

                <a href="#"><button
                        class="py-[15px] text-[20px] rounded-[14px] bg-[#15803d] text-[white] px-[60px] hover:bg-[#006954]">
                        <h4>Category 5</h4>
                    </button></a>

                <a href="#"><button
                        class="py-[15px] text-[20px] rounded-[14px] bg-[#15803d] text-[white] px-[60px] hover:bg-[#006954]">
                        <h4>Category 6</h4>
                    </button></a>

            </div>

            <div
                class="w-[2.5px] h-[full] mx-[30px] mr-[54px] bg-gradient-to-b from-[#E7E7E7] via-[#006954] to-[#EDEDED]">
            </div>

            <div class="w-[79%]">

                <div class=" flex justify-between">

                    <div class="w-[30%] flex flex-col justify-center">
                        <img class="w-[270px]" src="/assets/images/syrupbottle.png" alt="">
                        <h4 class="text-[#686D4F] text-[25px] py-[19px]">Optigut probiotic blend <br>
                            tablets</h4>
                        <div class="flex w-[90%] justify-between items-center">
                            <h4 class="text-[#006954] font-[600]">200 Rs.</h4>
                            <a href="#">
                                <h4 class="text-[#686D4F] text-[16px] underline decoration-1">View Details</h4>
                            </a>
                        </div>

                    </div>

                    <div class="w-[30%] flex flex-col justify-center">
                        <img class="w-[270px]" src="/assets/images/syrupbottle.png" alt="">
                        <h4 class="text-[#686D4F] text-[25px] py-[19px]">Optigut probiotic blend <br>
                            tablets</h4>
                        <div class="flex w-[90%] justify-between items-center">
                            <h4 class="text-[#006954] font-[600]">200 Rs.</h4>
                            <a href="#">
                                <h4 class="text-[#686D4F] text-[16px] underline decoration-1">View Details</h4>
                            </a>
                        </div>

                    </div>

                    <div class="w-[30%] flex flex-col justify-center">
                        <img class="w-[270px]" src="/assets/images/syrupbottle.png" alt="">
                        <h4 class="text-[#686D4F] text-[25px] py-[19px]">Optigut probiotic blend <br>
                            tablets</h4>
                        <div class="flex w-[90%] justify-between items-center">
                            <h4 class="text-[#006954] font-[600]">200 Rs.</h4>
                            <a href="#">
                                <h4 class="text-[#686D4F] text-[16px] underline decoration-1">View Details</h4>
                            </a>
                        </div>

                    </div>

                </div>


                <div class="pt-[80px] flex justify-between">
                    <div class="w-[30%] flex flex-col justify-center items-center">
                        <div class="relative">
                            <img class="w-[270px] bg-gradient-to-b from-[#F4FFB5B0] to-[#E8FF65B0] py-[10px]"
                                src="/assets/images/syrupbottle.png" alt="">
                            <a href="#"><button
                                    class="bg-[#006954AD] absolute bottom-[23px] left-[36px] rounded-[30px] backdrop-blur-[8px] text-[white] py-[16px] w-[200px]">
                                    Buy now
                                </button></a>
                        </div>
                        <h4 class="text-[#686D4F] text-[25px] py-[19px]">Optigut probiotic blend <br>
                            tablets</h4>
                        <div class="w-full flex w-[90%] justify-between items-center">
                            <h4 class="text-[#006954] font-[600]">200 Rs.</h4>
                            <a href="#">
                                <h4 class="text-[#686D4F] text-[16px] underline decoration-1">View Details</h4>
                            </a>
                        </div>

                    </div>

                    <div class="w-[30%] flex flex-col justify-center">
                        <img class="w-[270px]" src="/assets/images/syrupbottle.png" alt="">
                        <h4 class="text-[#686D4F] text-[25px] py-[19px]">Optigut probiotic blend <br>
                            tablets</h4>
                        <div class="flex w-[90%] justify-between items-center">
                            <h4 class="text-[#006954] font-[600]">200 Rs.</h4>
                            <a href="#">
                                <h4 class="text-[#686D4F] text-[16px] underline decoration-1">View Details</h4>
                            </a>
                        </div>

                    </div>

                    <div class="w-[30%] flex flex-col justify-center">
                        <img class="w-[270px]" src="/assets/images/syrupbottle.png" alt="">
                        <h4 class="text-[#686D4F] text-[25px] py-[19px]">Optigut probiotic blend <br>
                            tablets</h4>
                        <div class="flex w-[90%] justify-between items-center">
                            <h4 class="text-[#006954] font-[600]">200 Rs.</h4>
                            <a href="#">
                                <h4 class="text-[#686D4F] text-[16px] underline decoration-1">View Details</h4>
                            </a>
                        </div>

                    </div>

                </div>
            </div>

        </div>



    </section>

    <section class="px-[80px] py-[40px]">

        <div
            class="py-[35px] px-[30px] relative flex justify-between  bg-gradient-to-b from-[#F4FFB5B0] to-[#E8FF65B0] rounded-[20px]">
            <div class="w-[45%]">
                <h1 class="text-[47px] text-[#006954] font-[600]">Lorem ipsum deo campus</h1>
                <p class="text-[22px] text-[#717171]"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                    blanditiis, placeat alias tempora
                    nihil quasi ducimus mollitia Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>


            <div class="relative w-[457px] h-[457px] z-10 rounded-xl overflow-hidden shadow-lg">
                <!-- Blurred Background -->
                <div class=" w-full h-full bg-[#FFFFFF8C] inset-1 backdrop-blur-md">

                    <!-- Centered Image (Non-blurred content) -->
                    <div class="relative flex justify-center items-center w-[80%]  h-full">
                        <img src="/assets/images/shopsyrup.png" alt="Bottle" class="w-[300px] h-auto z-10" />
                    </div>

                    <!-- Right Side Panel -->
                    <a href="#">
                        <div
                            class="absolute backdrop-blur-sm bg-opacity-20 right-0 top-0 h-full w-[20%] bg-[#006954BA] text-white flex items-center justify-center rotate-180">
                            <p class="transform -rotate-90 whitespace-nowrap font-medium text-[20px]">View Details</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="absolute bottom-0 left-1">
                <img src="/assets/images/shopsyrup2.png" alt="">
            </div>

            <div class="absolute bottom-0 left-[8.5rem]">
                <img src="/assets/images/shopsyrup3.png" alt="">
            </div>

            <div class="absolute bottom-0 right-1">
                <img src="/assets/images/shopsyrup4.png" alt="">
            </div>

        </div>

    </section>

    <footer class="px-[80px] pt-[60px] bg-gradient-to-b from-[#FFFFFFB0] via-[#EDFF817B] to-[#E8FF65B0]">
        <div class="flex justify-between">
            <div class="w-[50%]">
                <a href="#"><img class="w-[170px]" src="/assets/images/Group 2.png" alt=""></a>
                <h3 class="w-[73%] py-[23px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
                    facilis quas est
                    labore </h3>
                <div class="flex gap-[10px]">
                    <a href="#">
                        <div class="w-[40px] h-[40px] bg-[#272E03] rounded-[10px] flex justify-center items-center"> <i
                                class="fa-brands fa-facebook-f text-[23px]" style="color: #ffffff;"></i></div>
                    </a>
                    <a href="#">
                        <div class="w-[40px] h-[40px] bg-[#272E03] rounded-[10px] flex justify-center items-center"> <i
                                class="fa-brands fa-instagram text-[23px]" style="color: #ffffff;"></i></div>
                    </a>
                    <a href="#">
                        <div class="w-[40px] h-[40px] bg-[#272E03] rounded-[10px] flex justify-center items-center"> <i
                                class="fa-brands fa-x-twitter text-[23px]" style="color: #ffffff;"></i></div>
                    </a>
                    <a href="#">
                        <div class="w-[40px] h-[40px] bg-[#272E03] rounded-[10px] flex justify-center items-center"> <i
                                class="fa-brands fa-linkedin text-[23px]" style="color: #ffffff;"></i></div>
                    </a>
                    <a href="#">
                        <div class="w-[40px] h-[40px] bg-[#272E03] rounded-[10px] flex justify-center items-center"> <i
                                class="fa-brands fa-youtube text-[23px]" style="color: #ffffff;"></i></div>
                    </a>
                </div>
            </div>

            <div class="w-[25%]">
                <h4 class="text-[22px] text-[#272E03] font-[600]">Quick Links</h4>
                <div class="flex flex-col gap-[14px] mt-[12px]">
                    <a href="index.html">
                        <h4 class="text-[20px]">Home</h4>
                    </a>
                    <a href="aboutus.html">
                        <h4 class="text-[20px]">About us</h4>
                    </a>
                    <a href="shop.html">
                        <h4 class="text-[20px]">Shop</h4>
                    </a>
                    <a href="contactus.html">
                        <h4 class="text-[20px]">Contact us</h4>
                    </a>
                </div>
            </div>

            <div class="w-[25%]">
                <h4 class="text-[22px] text-[#272E03] font-[600]">Contact</h4>
                <div class="flex flex-col gap-[14px] mt-[12px]">
                    <a href="#">
                        <h4 class="text-[20px]">+1 (123) 456-7890</h4>
                    </a>
                    <a href="#">
                        <h4 class="text-[20px]">hello@example.com</h4>
                    </a>
                    <a href="#">
                        <h4 class="text-[20px]">123 Main Street,
                            Cityville, State</h4>
                    </a>

                </div>
            </div>
        </div>

        <div class=" flex justify-center pt-[40px] pb-[20px]">
            <h4 class="text-[15px] font-[600]">@2024 All Rights are Reserved. coflee.in | Made by SwaroopNevse Developed
                By Sharp Multimedia</h4>
        </div>
    </footer>


</body>

</html>